<%- include("header") -%>

    <h1>This is about page.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, voluptas. Vitae consectetur ea tempora neque esse quis.
         Sequi, repellat voluptatibus unde neque qui odio, culpa quasi magni ea quia reprehenderit!</p>
         
<%- include("footer") -%>